.button {
  height: 40px;
  width: 118px;
  border: 1.2px solid #339933;
  border-radius: 5px;
  background-color: white;
  color: #339933;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}
.menuButton {
  border: none;
  background-color: white;
  font-size: 14px;
}

.menuButton:focus {
  color: #65b366;
  text-decoration: underline;
  font-weight: 600;
}

.selected {
  color: #65b366;
  text-decoration: underline;
  font-weight: 600;
  border: none;
  background-color: white;
  font-size: 14px;
}
.menuButton:hover {
  color: #4ea64c;
  font-weight: 400;
}

.tagButton {
  background-color: #f1f5f5;
  border: none;
  padding: 5px;
  border-radius: 50px;
  display: flex;
  gap: 4px;
  justify-content: center;
  align-items: center;
  width: 100%;
}
