.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}

/* To keep the button in place a bit left to the center */
.buttonContainer {
  width: 340px;
  justify-content: flex-start;
  margin-top: -250px;
}

/* Position Absolute to make sure the dropdown doesn't push the button up */
.dropdownContainer {
  position: absolute;
  top: 36%;
}

/* Position absolute to make sure the tag container doesn't 
  appear in front of the button */
.tagContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  bottom: 1%;
  height: 100px;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
}

/* Need this to make sure the search icon doesnt move when typing */
.searchBarContainer {
  position: relative;
}
