.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.input {
  height: 37px;
  width: 90%;
  background-color: transparent;
  border: 1px solid #9fb4b4;
  box-sizing: border-box;
  border-radius: 5px;
  padding-left: 40px;
  color: #9fb4b4;
  transition: 200ms ease-in;
}
.input::placeholder {
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 16px;
}

.input:focus {
  border: 1px solid #323a63;
}

.icon {
  position: absolute;
  top: 25%;
  left: 10%;
}
